@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
html, body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
}

:root {
  --mainColor: #3882A7;
  --secondaryColor: #C2AB92;
  --thirdColor: #595755;
  --fourthColor: #F6CA43;
  --darkColor: #191505;
  --footerColor: #222323;
  --backgroundColor: #f2f2f2
}